<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../../static/css/main.css/" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Students</title>
</head>
<body>
    <div class="menu">
        <div class="left-menu">
            <a href="http://127.0.0.1:8080/"><img src="../../static/images/Ascend_Logo_white_on_blue.png"></a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light right-menu">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="http://127.0.0.1:8080/competitions/">Join now</a>
              <a class="nav-item nav-link" href="http://127.0.0.1:8080/competitions/">Sign in</a>
            </div>
          </div>
        </nav>
    </div>
    <div class="content-columns">
       <div class="left-pane">
           <div class="pane-header">
               <h1>Show recruiters what you do and what you've done</h1>
               <p>Listen, we’ve been there. You can’t get a job because you don’t have enough experience, but you can’t
                   get more experience because you don’t have a job! Ditch the outdated tradition of resume dropping
                   and solve real world problems that can give you the skills to land your dream job. So what are you
                   waiting for? Ascend with us.</p>
           </div>
       </div>
       <div class="right-pane">
           <img src="../../static/images/student_info.png">
       </div>
    </div>
</body>
</html>
