<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../../static/css/main.css/" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Company</title>
</head>
<body>
    <div class="menu">
        <div class="left-menu">
            <a href="http://127.0.0.1:8080/"><img src="../../static/images/Ascend_Logo_white_on_blue.png"></a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light right-menu">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="http://127.0.0.1:8080/competitions/">Join now</a>
              <a class="nav-item nav-link" href="http://127.0.0.1:8080/competitions/">Sign in</a>
            </div>
          </div>
        </nav>
    </div>
    <div class="content-columns">
       <div class="left-pane">
           <div class="pane-header">
               <h1>Place top talent without reading resumes</h1>
               <p>With more resumes in your inbox than pictures of your dog on your phone, we both know there’s got to
                   be a better way. Instead of querying thousands of resumes, let us show you who the top students are.
                   Anyone can claim anything on their resume, but actions speak louder than words. Leave the past and
                   ascend to the future.</p>
           </div>
       </div>
       <div class="right-pane">
           <img src="../../static/images/student_info.png">
       </div>
    </div>
</body>
</html>
